<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.truel.ducktype3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".level_screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_level_screen"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenuActivity" />
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />

        <service android:name=".BackgroundMusicService" />

        <activity
            android:name=".level_1"
            android:parentActivityName=".level_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Level1.LevelOneContainer"
            android:finishOnTaskLaunch="true"
            android:parentActivityName=".level_screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".level_2_quiz"
            android:parentActivityName=".level_screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".level_3_quiz"
            android:parentActivityName=".level_screen"
            android:screenOrientation="portrait" />
        <activity android:name=".LevelFailedAndClearedActivities.LevelClearedActivity" />
        <activity android:name=".LevelFailedAndClearedActivities.LevelFailedActivity" />
        <activity android:name=".Level2.LevelTwoContainer" />
        <activity android:name=".Level3.LevelThreeContainer"></activity>
    </application>

</manifest>