<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.truel.ducktype3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".level_screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_level_screen"
            android:parentActivityName=".main_menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main_menu" />
        </activity>
        <activity
            android:name=".main_menu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />

        <service android:name=".bgmusic_service" />

        <activity
            android:name=".level_1"
            android:parentActivityName=".level_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".level_2"
            android:parentActivityName=".level_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".level_3"
            android:parentActivityName=".level_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".splashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".level_1_quiz"
            android:finishOnTaskLaunch="true"
            android:parentActivityName=".level_screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".level_2_quiz"
            android:parentActivityName=".level_screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".level_3_quiz"
            android:parentActivityName=".level_screen"
            android:screenOrientation="portrait" />
        <activity android:name=".levelCleared" />
        <activity android:name=".levelFailed"></activity>
    </application>

</manifest>